*{
    margin: 0;
    padding: 0;
  }
  .cabecalho {
    background-color: #383D58;
    color: white;  
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
  }
  .cabecalho-imagem{
    width:15%;
  }
  .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
  }
  .escola-imagem{
    width: 40%;
  }
  .escola{
    background-image: linear-gradient(#434a6b, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  .escola-conteudo{
    width: 15%;
  }
  .escola-titulo{
    padding: 24px 0;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  .estudante-icone{ 
    width: 60px;
  }
  .estudante-div{
    text-align: center;
  }
  .estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }
  .footer{
    background-color: black;
    padding: 30px 0;
    text-align: center;
  }